
h1 {
  color: #369;
  font-family: 'Roboto','Open Sans', 'sans-serif';
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: 'Roboto','Open Sans', 'sans-serif';
  font-weight: lighter;
}
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  margin: 2em;
}
p {
  font-family: 'Roboto','Open Sans', sans-serif;
  margin: 2em;
}
.navbar {
	height: 120px;
}
.nav a {
	font-size: 1em;
	font-family: 'Roboto','Open Sans', 'sans-serif';
	line-height: 24px;
}
.nav ul {
	vertical-align: middle;
}
.jumbotron {
	background-image: "~/img/peek.jpg";
}